@import url('https://fonts.googleapis.com/css?family=Livvic|Roboto:400,700&display=swap');

body {
    background-color: #232323;
    color: white;
    margin: 0;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    background-color: red;
    float: left;
    margin: 1.66%;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    border-radius: 15%;
}

#container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 0;
}

#stripe {
    background-color: white;
    color: black;
    text-align: center;
    height: 30px;
    margin: 0;
}

#container1 {
    background-color: aqua;
}

#message {
    display: inline-block;
    width: 30%;
}

button {
    background: none;
    border: none;
    height: 100%;
    text-transform: uppercase;
    color: steelblue;
    font-weight: 800;
    font-family: Roboto;
    letter-spacing: 1.5px;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    outline: none;
}

button:hover {
    background-color: steelblue;
    color: white; 
}

.selected {
    background-color: steelblue;
    color: white;    
}

h1 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    background-color: steelblue;
    font-weight: 500;
    line-height: 1.5;
    padding: 20px 0;    
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
}

#pickedColor {
    /* text-transform: uppercase; */
    font-size: 200%;    
}

#message {
    color: steelblue;
    font-family: inherit;
    font-weight: 800;
}